body {
    font-family: arial,sans-serif;
    font-size:13px;
    color: #222;
}

/* NAVBAR */

ul {
    line-height: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: right;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li:hover {
      text-decoration: underline;
  }

/* IMAGES */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  padding-top: 109px;
}

.mag2 {
    padding-top:10px;
    padding-left:15px;
    height: 14px;
    width: 14px;
    float: left;
}

.mic {
    padding-top:10px;
    padding-right:15px;
    height: 18px;
    width: 12px;
    float: right;
}

.card {
    margin: 8px;
    height:32px;
    width:32px;
    background: url("img/gapps2.png") no-repeat;
    display: inline-block;
}
.card:hover {
    background: url("img/gapps.png") no-repeat;
}
/* BUTTONS */

#button1 , #button2 {
    display:inline-block;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    }
#button1:hover , #button2:hover {
    display:inline-block;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#butt {
    display: block;
    margin: auto;
    width:50%;
    padding-top: 40px;
    text-align: center;
}

#button3 {
    
    line-height: 28px;
    padding: 0 12px;
    color:#fff;
    border: 1px solid #4285f4;
    border-radius:2px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

/* SEARCH BAR */

.container {
    display: block;
    margin: auto;
    width:40%;
    padding-top: 27px;
}

#myDiv {
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    height: 40px;
    flex: 1;
    display: flex block;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    max-width: 500px;
    /**display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;**/
}
#myDiv:hover {
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    height: 40px;
    flex: 1;
    display: flex block;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    /**display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;**/
    -webkit-box-shadow: 0 0 5px rgb(182, 182, 182);
        box-shadow: 0 0 5px rgb(182, 182, 182);
}
.search-bar {
    margin:auto;
    margin-top:7px;
    max-width: 500px;
    flex: 1;
    display: flex;
    padding-left: 14px;
}

input[type=text]:focus {
    outline: none;
} 
input[type=text] {
    border: none;
    border-radius: 10px;
    width:100%;
    height: 20px;
    font-size: 16px;
  }

/* LANGUAGE PARAGRAPH */

.lang {
    display: block;
    line-height: 28px;
    text-align: center;
    padding: 30px;
    margin:auto;
    width: 50%;
}

/* FOOTER */

#footer {
    color: rgba(0,0,0,.54);

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid rgb(230, 230, 230);
    font-size: 10pt;
}
.ftnav {
    line-height: 20px;
    padding-left: 27px;
}

#footer a {
    color: #5f6368;
    font-size: 14px;
}

.ftleft {
    float: left; 
    padding-right: 5px;
}

.ftright {
    float:right;

}

.ftrightset {
    float:right;
    padding-right: 15px;
}

.country {
    font-size:14px;
    padding-left:35px;
}
.ireland{
    border-bottom: 1px solid rgb(230, 230, 230);
}
